@import "../colors/datatable.default.colors";


.datatable-confirm-delete-items {
  max-height: 250px;
  overflow: auto;
  margin: 10px 0;

  div {
    padding: 5px 10px;
  }
}

.datatable-content,
.datatable-popup-content {

  font-size: $datatableFontSize;

  @include cardBody;

  //user-select: none;

  .datatable-column-force-min-size {
    width: 20px;
    text-align: center;
  }

  &.datatable-content-empty {
    padding: 0 !important;
    box-shadow: none !important;
    border-radius: 0 !important;
    background-color: transparent !important;
  }

  &.datatable-row-type-row {

    .datatable-table-container {
      width: 100%;
      //overflow-y: hidden;
      overflow-x: auto;

      .datatable-header-column {
        white-space: nowrap;
      }
    }
  }

  &.datatable-row-type-grid {

    // table
    .datatable-table {
      display: block;
      width: 100%;
    }

    // head
    .datatable-header {
      display: none;
    }

    // tbody
    .datatable-body {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
    }

    // tr
    .datatable-body-row {
      display: block;
      width: 20%;

      &:last-child {
        margin-right: 0;
      }
    }

    // tr > td
    .datatable-body-column {
      display: block;
      width: 100%;
      text-align: center;
    }

  }

  .datatable-table {
    width: 100%;
    border-collapse:separate;
    border-spacing: 0;
    //table-layout: fixed;
  }

  label {
    margin: 0;
  }

  td, th {
    padding: 8px 12px;
    position: relative;
    cursor: context-menu;
    white-space: nowrap;

    > * {
      margin: 0;
    }

    .form-template {
      display: none !important;
    }
  }

  ul {
    padding-left: 16px;
  }

  .datatable-title {
    font-size: 20px;
    font-weight: bold;
  }

  .datatable-data-empty {
    text-align: center;
  }

  .datatable-column-ordered {
    cursor: pointer;
  }

  .datatable-item-hidden,
  .datatable-header-removed-dom,
  .datatable-body-removed-dom {
    display: none !important;
  }

  .datatable-pagination-page-label {
    padding: 2px 0;
  }

  .datatable-pagination-page-input {
    border-radius: 2px;
    outline: none;
    border: solid 1px;
    text-align: center;
    display: inline-block;
    width: 40px;

    &:hover, &:focus {
      outline: none;
    }

    @include inputNumberWithoutArrows;
  }

  .datatable-alert-message {
    width: 100%;
    height: 0;
    transition: .3s;
    overflow: hidden;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: relative;
  }

  .datatable-alert-message-content {
    padding: 5px {
      left: 10px;
      right: 30px;
    };
  }

  .datatable-alert-message-close {
    position: absolute;
    top: 5px;
    right: 5px;
    padding: 5px;
    cursor: pointer;
    z-index: 1;
  }

  .datatable-body-row-no-target {
    display: none !important;
  }

  .datatable-body-column-actions
  , .datatable-header-column-action {
    width: 30px;
  }

  .datatable-column-core-actions {
    display: flex;
    width: max-content;
    margin: auto;

    .datatable-column-action-icon {
      display: block;
      padding: 5px;
      transition: .3s;
      cursor: pointer;
      border: none;

      &:first-child {
        border-top-left-radius: 2.5px;
        border-bottom-left-radius: 2.5px;
      }

      &:last-child {
        border-top-right-radius: 2.5px;
        border-bottom-right-radius: 2.5px;
      }
    }
  }


  .datatable-header-row {
    &:first-child {
      .datatable-header-column {
        border-top: solid 1px;
      }
    }
    &:last-child {
      .datatable-header-column {
        border-top: none;
      }
    }
  }

  .datatable-body-column-longtext-more {
    border: solid 1px;
    border-radius: 3px;
    padding: 3px;
    position: absolute;
    font-size: 3px;
    transform: translate(-7px, 4px);
    cursor: pointer;
    transition: .3s;
    opacity: 0;

    &:hover {
      opacity: 1;
    }

    i {
      margin-right: 2px;

      &:last-child {
        margin-right: 0;
      }
    }
}

  .datatable-header-column
  , .datatable-header-column-search-input
  , .datatable-body-column
  {
  font-size: $datatableFontSize;
  }

  .datatable-header-column {
    border-bottom: solid 1px;
  }

  .datatable-body-row {
  }

  .datatable-body-column {

  }

  .datatable-header-column-search-label {
    width: 100%;
    display: block;
    margin: 0;
  }

  .datatable-header-column-search-input {
    @include inputForm;

  }

  .datatable-columns-visibility-list-item {
    text-align: left;
  }

  .datatable-columns-visibility-list-item
  , .datatable-columns-group-visibility-item {
    cursor: pointer;
    padding: 0 10px {
      top: 3px;
    };
    margin: 0 5px {
      bottom: 2.5px;
    };
    border-radius: 3px;

    &:last-child {
      margin-bottom: 0;
    }

    .datatable-columns-visibility-list-item-title {
      position: relative;
      top: -2px;
      transform: translateY(2px);
    }

    .datatable-columns-visibility-list-item-checkbox {
      display: inline-block;
      width: $datatableCheckboxVisibilityColumn;
      height: $datatableCheckboxVisibilityColumn;
      border: solid 1px;
      cursor: pointer;
      border-radius: 3px;

      span {
        width: 10px;
        height: 5px;
        border-bottom: solid 3px;
        border-left: solid 3px;
        display: block;
        margin: 2px auto auto;
        transform: rotate(-45deg);
      }
    }
  }


  .datatable-columns-visibility
  , .datatable-count-lines {
    position: relative;
    border: none;

    &:hover, &:focus {
      border: none;
      outline: none;
    }

    .datatable-columns-visibility-list
    , .datatable-count-lines-list {
      position: absolute;
      left: 50%;
      white-space: nowrap;
      min-width: 100%;
      transform: translateX(-50%);
      transition: .3s;
      top: 150%;
      z-index: 10;
      opacity: 0;
      display: none;

      &.datatable-list-block {
        display: block;
      }

      &.datatable-list-show {
        opacity: 1;
        top: 110%;
      }
    }
  }

  .datatable-columns-visibility-list {
    padding: 7px 0;
    border-radius: 5px;
    transition: .3s;
  }

  .datatable-count-lines-list {
    border-radius: 5px;
    transition: .3s;
    text-align: center;
  }

  .datatable-count-lines-list-item {
    cursor: pointer;

    &.datatable-count-lines-list-item-active {
      font-weight: bold;
    }
  }

  .datatable-columns-visibility-list-group {
  padding-left: 10px;
  }

  .datatable-actions {
    white-space: nowrap;
    width: 100%;
    padding: {
      top: 5px;
      bottom: 8px;
    };

    @include empty {
      display: none;
      padding: 0;
    }
  }

  .datatable-action-item {
    display: inline-block;
  }

  .datatable-global-search {
    float: right;
    position: relative;
    width: 250px;

    label {
      width: 100%;
    }

    input {
      @include inputForm;

      font-size: $datatableFontSize;
      padding-left: 25px;
      width: 100%;
    }

    i.fa-search {
      position: absolute;
      top: 50%;
      left: 8px;
      transform: translateY(-50%);
      font-size: $datatableFontSize;
    }
  }

  .datatable-count-lines-result {
    padding: 5px;
    border-radius: 3px;
    border: solid 1px;
    cursor: pointer;
    transition: .3s;
  }

  .datatable-global-manage-item {
    padding: 8px;
    border-radius: 3px;
    border: none;
  }

  .datatable-columns-visibility-title {
    @extend .datatable-count-lines-result;
  }

  .datatable-types {
    display: inline-flex;
    vertical-align: top;
  }

  .datatable-types-item {
    @extend .datatable-count-lines-result;
    padding: 8px !important;

    &.datatable-type-row {
      border-top-right-radius: 0 !important;
      border-bottom-right-radius: 0 !important;
      border-right: none !important;
    }

    &.datatable-type-grid {
      border-top-left-radius: 0 !important;
      border-bottom-left-radius: 0 !important;
      border-left: none !important;
    }
  }

  .datatable-header-column-group {
    text-align: center;
    border-bottom: none;
  }

  .datatable-pagination {
    padding: {
      top: 10px;
    };
    position: relative;
  }

  .datatable-pagination-item {
    display: inline-block;
  }

  .datatable-pagination-page {
    display: inline-flex;
    border-radius: 3px;
    float: right;
    vertical-align: top;
    position: relative;
    top: -4px;
  }

  .datatable-pagination-page-prev
  , .datatable-pagination-page-next {
    padding: 3px 10px;
    cursor: pointer;
    border: none;
    color: $contentColor;
  }

  .datatable-order-icon {
    border: none;
  }

  .datatable-boolean {

    $circleSize: 20px;
    $circleCoreSize: 10px;

    width: max-content;
    margin: auto;
    cursor: pointer;
    position: relative;


    .datatable-circle {
      width: $circleSize;
      height: $circleSize;
      border-radius: 100%;
      background-color: $searchInputBorderColorFocus;
      transition: .3s;
      box-shadow: 0 0 5px rgba(0,0,0,.3) inset;
    }

    .datatable-circle-core {
      width: $circleCoreSize;
      height: $circleCoreSize;
      border-radius: 100%;
      position: relative;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      box-shadow: 0 0 5px rgba(0,0,0,.3);
    }

    &.datatable-editable-boolean {

      $circlePositionY: 2.5px;
      $circlePositionX: 3px;
      $circleEditableSize: 15px;

      width: 40px;
      height: $circleSize;
      border-radius: 200px;
      box-shadow: 0 0 5px rgba(0,0,0,.3) inset;

      .datatable-circle {
        width: $circleEditableSize;
        height: $circleEditableSize;
        position: absolute;
        top: $circlePositionY;
        left: 21px;
        box-shadow: 0 0 5px rgba(0,0,0,.3);
      }

      .datatable-circle-core {
        display: none;
      }

      .datatable-circle-ligth {
        display: none;
      }

      &.datatable-boolean-disable {
        .datatable-circle {
          left: 4px;
        }
      }
    }

    &.datatable-loading-editable {
      cursor: progress !important;
    }

  }

  .datatable-search-found {
    @include searchFound;
  }

  .datatable-search-success {
    display: table-row !important;
  }

  .datatable-search-failed {
    display: none !important;
  }

  .datatable-search-row-count-error {
    text-align: center;
    font-weight: bold;
  }

  .datatable-search-core {
    position: relative;
    overflow: hidden;
    border-radius: 5px;

    &.datatable-remove-search-text-display {
      .datatable-remove-search-text {
        display: block;
      }
    }

    &.datatable-search-disable, &.datatable-rows-count-0, &.datatable-empty-data {
      cursor: no-drop;

      .datatable-search-input {
        pointer-events: none;
      }
    }

    .datatable-remove-search-text {
      position: absolute;
      width: 20px;
      top: 0;
      right: 0;
      bottom: 0;
      cursor: pointer;
      display: none;

      i {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: $datatableFontSize;
      }
    }

    .datatable-hidden-search-input {
      $absSize:-5px;
      position: absolute;
      top: $absSize;
      left: $absSize;
      right: $absSize;
      bottom: $absSize;
      z-index: 5;
    }
  }

  .datatable-alert-message-item {
    display: inline-flex;
    margin-bottom: 10px;
    width: 100%;

    &:last-child {
      margin-bottom: 0;
    }

    i, span {
      display: block;
    }

    i {
      font-weight: bold;
      padding: {
        top: 5px;
        left: 7px;
        right: 7px;
      };
    }
  }

  .datatable-body-column-longtext-more-content {
    width: 100%;
    min-height: 100%;
    position: absolute;
    z-index: 5;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    border-radius: 5px;
    padding: 10px {
      right: 25px;
    };
    box-shadow: 0px 0px 8px $shadowColor;
    overflow: hidden;
    white-space: break-spaces;
    border: solid 1px;
    text-align: left;

    &:focus {
      outline: none;
    }

    .datatable-body-column-longtext-more-close {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      padding: 8px {
        top: 10px;
      };
      cursor: pointer;
    }

  }

  .datatable-selected-column {
    cursor: pointer;
    width: 40px;
  }

  .datatable-row-selected {
    width: 15px;
    height: 15px;
    border-radius: 3px;
    margin: auto;
    cursor: pointer;
    position: relative;

    div {
      width: 13px;
      height: 7px;
      border-left: solid 3px;
      border-bottom: solid 3px;
      transform: rotate(-50deg) translate(-1px, 2px);
    }
  }

  .datatable-header-row-filter {
    .datatable-header-column {
      border: none;
      cursor: context-menu;
    }
  }

}

@import "../colors/datatable.script";