
.popup-container {

  @include selectionText(
      $popupSuccess,
      $popupSuccessText
  );

  @include scrollBar(
      $popupSuccess,
      $popupSuccessClair,
      8px
  );

  .popup-close {
    color: $popupDanger;
  }

  .popup-button {
    //color: $popupSuccessText;
    //background-color: $popupSuccess;
    background-color: transparent;
    border-color: transparent;
    color: $popupSuccess;

    &.popup-btn-cancel {
      //background-color: $popupDanger;
      color: $popupDanger;

      &:hover, &:focus {
        //background-color: $popupDangerDark;
        //box-shadow: 0px 0px 8px $popupDangerShadow;
        color: $popupSuccessText;
        background-color: $popupDanger;
        border-color: $popupDanger;
      }
    }

    &:hover, &:focus {
      //background-color: $popupSuccessDark;
      //box-shadow: 0px 0px 8px $popupSuccessShadow;
      color: $popupSuccessText;
      background-color: $popupSuccess;
      border-color: $popupSuccess;
    }
  }

  .popup-load {
    border: solid 2px $popupSuccess;
    border-right-color: transparent;
  }

}