@import "form.default.colors";
$formRadius : 5px;
$formShadow : rgba(193, 193, 193, 0.5);
$formShadowFocus : rgba(106, 200, 181, 0.4);
$formText : #727171;
$formEmpty : #efefef;
$formBorder : #dddddd;

$formSuccess : #6ac8b5;
$formSuccessLight : #cfeeda;
$formSuccessText : white;
$formSuccessDark : #57a293;
$formSuccessDark2 : #32864e;
$formSuccessFocus : rgba(106, 200, 181, 0.4);

