
.datatable-confirm-delete-items {
  div {
    &:nth-child(2n+1) {
      background-color: $tableBodyTrBg;
    }
  }
}

.datatable-content,
.datatable-popup-content {

  background-color: $tableContentBg;

  .datatable-table {
    background-color: $tableContentBg;
  }

  .datatable-pagination-page-input {
    border-color: $datatableCheckboxVisibilityColumnBorderColor;

    &:focus {
      border-color: $bgBase;
    }
  }

  .datatable-alert-message {
    background-color: $infoAlertBg;
    color: $infoText;
    @include selectionText($infoText);

    &._success {
      background-color: $successAlertBg;
      color: $successText;
      @include selectionText($successText);
    }

    &._warning {
      background-color: $warningAlertBg;
      color: $warningText;
      @include selectionText($warningText);
    }

    &._danger {
      background-color: $dangerAlertBg;
      color: $dangerText;
      @include selectionText($dangerText);
    }
  }

  .datatable-body-row {
    //box-shadow: 0px 0px 8px $tableBodyTrShadow;

    &:nth-child(2n+2) {
      .datatable-body-column {
        background-color: $tableBodyTrBg;
      }
    }

    &:hover {
      .datatable-body-column {
        background-color: $tableBodyTrBgHover;
      }
    }
  }

  .datatable-body-column-longtext-more {
    color: $contentColor;
    border-color: $contentColor;
    background-color: $longtextMoreBg;
  }

  .datatable-column-core-actions {
    display: flex;


    .datatable-column-action-icon {
      background-color: $_success;
      color: white;

      &.datatable-action-deletable {
        background-color: $_danger;
      }

      &.datatable-action-copyable {
        background-color: $_warning;
      }

      &.datatable-action-visible {
        background-color: $_info;
      }

      &:hover, &:focus {
        background-color: $successDark;
        outline: none;

        &.datatable-action-deletable {
          background-color: $dangerDark;
        }

        &.datatable-action-copyable {
          background-color: $warningDark;
        }

        &.datatable-action-visible {
          background-color: $infoDark;
        }
      }

    }
  }

  .datatable-header-row {
    &:first-child {
      .datatable-header-column {
        border-top-color: $tableBorderColor;
      }
    }
  }

  .datatable-header-column {
    border-bottom-color: $tableBorderColor;

  }

  .datatable-header-column-search-input {
    @include inputFormColor(
      $searchInputBorderColor,
      $contentColor,
      $searchPlaceholderBorderColor,
      $bgBase,
      $_danger
    );
  }

  .datatable-global-search {
    input {
      @include inputFormColor(
        $searchInputBorderColor,
        $contentColor,
        $searchPlaceholderBorderColor,
        $bgBase,
        $_danger
      );

      font-size: 11px;

      &:focus {
        + i {
          color: red;
        }
      }
    }

    i.fa-search {
      color: $bgBase;
    }
  }

  .datatable-columns-visibility-list
  , .datatable-count-lines-list {
    background-color: white;
    box-shadow: 0px 0px 8px rgba(0,0,0,.2);
  }

  .datatable-count-lines-list-item {
    &:nth-child(2n+1) {
      background-color: $datatableCountLingBg;
    }


    &:hover {
      background-color: $datatableCountLingHover;
    }
  }

  .datatable-global-manage-item {
    background-color: $bgBase;
    color: white;
    cursor: pointer;
    transition: .3s;

    &:hover, &:focus {
      background-color: $bgBaseDark;
      outline: none;
    }

    &.datatable-global-delete {
      background-color: $_danger;

      &:hover, &:focus {
        background-color: $dangerDark;
      }
    }
  }


  .datatable-columns-visibility
  , .datatable-count-lines {

    color: $contentColor;

    &:hover, &:focus {
      .datatable-count-lines-result {
        background-color: $dropdownBgHover;
      }

    }

  }

  .datatable-count-lines-result {
    border-color: $searchInputBorderColor;
    background-color: white;

    &:hover, &.item-active, &:focus {
      &:not(.active) {
        background-color: $dropdownBgHover;
      }
      outline: none;
    }
  }

  .datatable-columns-visibility-title {
    @extend .datatable-count-lines-result;
  }

  .datatable-types-item {
    @extend .datatable-count-lines-result;
    color: $contentColor;

    &.active {
      background-color: $bgBase;
      border-color: $bgBase;
      color: white;
    }
  }

  .datatable-boolean {

    .datatable-circle {
      background-color: $_success;
    }

    .datatable-circle-core {
      background-color: white;
    }

    &.datatable-boolean-disable {
      .datatable-circle {
        background-color: $_danger;
      }
    }

    &.datatable-boolean-enable {
      .datatable-circle {
        background-color: $_success;
      }
    }

    &.datatable-editable-boolean {

      background-color: $_danger;

      .datatable-circle {
        background-color: white;
      }

      &.datatable-boolean-enable {
        background-color: $_success;
      }

      &.datatable-boolean-disable {
        background-color: $_danger;
      }
    }

  }

  .datatable-pagination-page-prev
  , .datatable-pagination-page-next {
    background-color: transparent;

    &:hover, &:focus {
      color: $bgBase;
      outline: none;
    }
  }

  .datatable-body-column-longtext-more-content {
    background-color: white;
    color: $contentColor;
    border-color: $contentColor;

    .datatable-body-column-longtext-more-close {
      background-color: white;
    }
  }

  .datatable-row-selected {
    background-color: $tableBodyTrBgHover;


    div {
      border-color: transparent;
    }

    &.datatable-row-selected-checked {
      background-color: $_success;

      div {
        border-color: white;
      }
    }

  }

  .datatable-order-icon {
    background-color: transparent;
    color: $contentColor;

    &:hover, &:focus {
      color: $successColor;
      outline: none;
    }
  }

  .datatable-columns-visibility-list-item
  , .datatable-columns-group-visibility-item {

    &:hover {
      background-color: $tableBodyTrBgHover;
    }
  }


  .datatable-columns-visibility-list-item-checkbox {
    border-color: $datatableCheckboxVisibilityColumnBorderColor;

    span {
      border-bottom-color: transparent;
      border-left-color: transparent;
    }

    &.column-checked {
      border-color: $datatableCheckboxActiveColor;
      background-color: $datatableCheckboxActiveColor;

      span {
        border-bottom-color: white;
        border-left-color: white;
      }
    }
  }

}

