$formRadius : 5px;
$formShadow : rgba(193, 193, 193, 0.5);
$formDisabled : rgba(0,0,0,.03);
$formText : #727171;
$formEmpty : #efefef;
$formTabsContent : #f8f8f8;
$formBorder : #dddddd;

$formError : #de6262;
$formError2 : #a24444;
$formErrorLight : #eecfcf;
$formErrorFocus : rgba(222, 98, 98, 0.4);

$formWarning : #f1a053;
$formWarning2 : #ca7c32;
$formWarningLight : #f5d1b0;

$formSuccess : #31a1ef;
$formSuccessLight : #9bcdef;
$formSuccessText : white;
$formSuccessDark : #2988ca;
$formSuccessDark2 : #216ea2;
$formSuccessFocus : rgba(49, 161, 239, 0.4);

$formItemBg : white;

$formFileHover : #eeeeee;

