@import "mixin"
  , "variables"
  , "keyframes"
;

/******* ALL ********/
*, :before, :after, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/******* ALL ********/


/******* BASE ********/
img {
  width: 100%;
  display: block;
}

.overflow-initial {
  overflow: initial !important;
}

.bg-cover {
  @include bgCover;
}

.scroll-y {
  @include scrollY;
}

.scroll-x {
  @include scrollX;
}

.scroll {
  @include scroll;
}

.three-point{
  @include threePoint;
}

.search-found-item {
  @include searchFound;
}

.hidden {
  display: none !important;
}

pre.sf-dump, pre.sf-dump .sf-dump-default {
  z-index: 5 !important;
}
/******* BASE ********/


/******* FORM ********/
@import "themes/form";
/******* FORM ********/


/******* FORM ********/
@import "themes/datatable";
/******* FORM ********/


/******* POPUP ********/
@import "themes/popup";
/******* POPUP ********/


/******* LOADER ********/
@import "themes/loader";
/******* LOADER ********/


/******* ADMIN ********/
@import "themes/admin";
/******* ADMIN ********/


/******* DEFAULT PAGES ********/

/******* PAGE TEXT ********/
@import "themes/page.text";
/******* PAGE TEXT ********/

/******* DEFAULT PAGES ********/



