@mixin bgCover {
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

@mixin fullScreen($position:fixed, $z_index:1000) {
  position: $position;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: $z_index;
}

@mixin scrollY {
  overflow-x: hidden;
  overflow-y: auto;
}

@mixin scrollX {
  overflow-x: auto;
  overflow-y: hidden;
}

@mixin scroll {
  overflow: auto;
}

@mixin threePoint {
  padding-left:10px;
  padding-right:10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  vertical-align: bottom;
}

@mixin inputForm {
  border-radius: 5px;
  width: 100%;
  display: block;
  padding: 5px {
    right: 20px;
  };
  border: solid 2px;
  outline: none;


  &:focus {
    outline: none;
  }

  @include inputNumberWithoutArrows;
}

@mixin inputNumberWithoutArrows {

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }

  &[type=number] {
    -moz-appearance: textfield;
  }
}

@mixin empty {
  &:empty {
    @content
  }
  &:blank {
    @content
  }
  &:-moz-only-whitespace {
    @content
  }
}

@mixin notEmpty {
  &:not(&:empty) {
    @content
  }
  &:not(&:blank) {
    @content
  }
  &:not(&:-moz-only-whitespace) {
    @content
  }
  &:not(&:placeholder-shown) {
    @content
  }
}

@mixin rondLoaderRotate(
  $square: 100px,
  $margin: auto,
  $borderWidth: 3px,
  $borderColor: transparent,
  $borderRadius: 100%
) {
  width: $square;
  height: $square;
  margin: $margin;
  border: solid $borderWidth $borderColor;
  border-radius: $borderRadius;
  cursor: progress;
  position: relative;
  @include rotateInfinit;
}

@mixin rotateInfinit {
  animation: rotate 1s infinite ease-in-out;
}

@mixin respond($breakpoint: "", $min_width: 0, $max_width: 0) {
  @if $breakpoint == mobile {
    @if $max_width == 0 {
      $max_width: 768px;
    }
    @media only screen and (min-width: 0) and (max-width: $max_width) {
      @content
    }
  } @else if $breakpoint == tablet {
    @if $min_width == 0 {
      $min_width: 768px;
    }
    @if $max_width == 0 {
      $max_width: 998px;
    }
    @media only screen and (min-width: $min_width) and (max-width: $max_width) {
      @content
    }
  } @else if $breakpoint == computer {
    @if $min_width == 0 {
      $min_width: 998px;
    }
    @media only screen and (min-width: $min_width) {
      @content
    }
  }
}

@mixin respondHeight($min_height: 0, $max_height: 0) {
  @media only screen and (min-height: $min_height) and (max-height: $max_height) {
    @content
  }
}

@mixin mobileView() {
  @include respond(mobile) {
    @content;
  };
}

@mixin tableView($width: 768px) {
  @include respond(tablet, $width) {
    @content;
  };
}

@mixin computerView($width: 998px) {
  @include respond(computer, $width) {
    @content;
  };
}

@mixin inputFormColor(
  $borderColor,
  $textColor,
  $placeholderColor,
  $borderFocusColor,
  $borderErrorColor
) {
  border-color: $borderColor;

  color: $textColor;

  &::placeholder {
    color: $placeholderColor;
  }

  &:focus, &.input-active {
    border-color: $borderFocusColor;
  }

  &.input-error {
    border-color: $borderErrorColor;
  }
}

@mixin cardBody {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 8px $cardShadow;
  padding: 15px;
}

@mixin searchFound(
  $bgColor: transparent,
  $color: $successColor,
  $padding: 0px
) {
  background-color: $bgColor;
  padding:$padding;
  color: $color;
  display: inline-block;
  font-weight: bold;
  position: relative;
  left: initial;
  right: initial;
  transform: none;
}

@mixin selectionText(
  $bg, $color : white
) {
  &::selection {
    background-color: $bg;
    color: $color;
  }
}

@mixin scrollBar(
  $scrollScrollbarThumb,
  $scrollScrollbarTrack,
  $width: 8px,
  $height: 5px,
  $radius: 50px
) {

  &::-webkit-scrollbar {
    width: $width;
    height: $height;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $scrollScrollbarThumb;
    border-radius: $radius;
    cursor: pointer;
  }

  &::-webkit-scrollbar-track {
    background-color: $scrollScrollbarTrack;
    border-radius: $radius;
    cursor: pointer;
  }
}

@mixin googleFont($family) {
  @import url("https://fonts.googleapis.com/css2?family=#{$family}&display=swap");
}

@mixin active($hover:true, $focus:true, $active:true) {
  @if $active {
    &:active {
      @content
    }
  }
  @if $hover {
    &:hover {
      @content
    }
  }
  @if $focus {
    &:focus {
      @content
    }
  }
}

@mixin flexDisposition {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: start;
  @content
}

@mixin button($color: #2762af, $colorHover: #204f8d, $colorText: white) {
  color: $colorText;
  background-color: $color;
  border-color: $color;

  @include active {
    color: $colorText;
    background-color: $colorHover;
    border-color: $colorHover;
  }
}

@mixin icon($i:true, $svg:true) {
  @if $i {
    i {
      @content
    }
  }

  @if $svg {
    svg {
      @content
    }
  }
}

@mixin to_parent_element($name) {
  @at-root #{$name} & {
    @content
  }
}