@mixin bgCover {
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

@mixin fullScreen($position:fixed, $z_index:1000) {
  position: $position;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: $z_index;
}

@mixin scrollY {
  overflow-x: hidden !important;
  overflow-y: auto !important;
}

@mixin scrollX {
  overflow-x: auto !important;
  overflow-y: hidden !important;
}

@mixin scroll {
  overflow: auto !important;
}

@mixin threePoint {
  padding-left:10px !important;
  padding-right:10px !important;
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  display: inline-block !important;
  vertical-align: bottom !important;
}

@mixin inputForm {
  border-radius: 5px;
  width: 100%;
  display: block;
  padding: 5px {
    right: 20px;
  };
  border: solid 2px;
  outline: none;


  &:focus {
    outline: none;
  }

  @include inputNumberWithoutArrows;
}

@mixin inputNumberWithoutArrows {

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
  }

  &[type=number] {
    -moz-appearance: textfield;
  }
}

@mixin empty {
  &:empty {
    @content
  }
  &:blank {
    @content
  }
  &:-moz-only-whitespace {
    @content
  }
}

@mixin rondLoaderRotate(
  $square: 100px,
  $margin: auto,
  $borderWidth: 3px,
  $borderColor: transparent,
  $borderRadius: 100%
) {
  width: $square;
  height: $square;
  margin: $margin;
  border: solid $borderWidth $borderColor;
  border-radius: $borderRadius;
  cursor: progress;
  position: relative;
  @include rotateInfinit;
}

@mixin rotateInfinit {
  animation: rotate 1s infinite ease-in-out;
}

@mixin respond($breakpoint: "", $width: 0) {
  @if $breakpoint == mobile {
    @content
  } @else if $breakpoint == tablet {
    @if $width == 0 {
      $width: 768px;
    }
    @media only screen and (min-width: $width) {
      @content
    }
  } @else if $breakpoint == computer {
    @if $width == 0 {
      $width: 998px;
    }
    @media only screen and (min-width: $width) {
      @content
    }
  }
}

@mixin mobileView() {
  @include respond(mobile) {
    @content;
  };
}

@mixin tableView($width: 768px) {
  @include respond(tablet, $width) {
    @content;
  };
}

@mixin computerView($width: 998px) {
  @include respond(computer, $width) {
    @content;
  };
}

@mixin inputFormColor(
  $borderColor,
  $textColor,
  $placeholderColor,
  $borderFocusColor,
  $borderErrorColor
) {
  border-color: $borderColor;

  color: $textColor;

  &::placeholder {
    color: $placeholderColor;
  }

  &:focus, &.input-active {
    border-color: $borderFocusColor;
  }

  &.input-error {
    border-color: $borderErrorColor !important;
  }
}

@mixin cardBody {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0px 0px 8px $cardShadow;
  padding: 15px;
}

@mixin searchFound(
  $bgColor: transparent,
  $color: $successColor,
  $padding: 0px
) {
  background-color: $bgColor !important;
  padding:$padding !important;
  color: $color !important;
  display: inline-block !important;
  font-weight: bold !important;
  position: relative !important;
  left: initial !important;
  right: initial !important;
  transform: none !important;
}

@mixin selectionText(
  $bg, $color : white
) {
  ::selection {
    background-color: $bg;
    color: $color;
  }
}

@mixin scrollBar(
  $scrollScrollbarThumb,
  $scrollScrollbarTrack,
  $width: 8px,
  $height: 5px,
  $radius: 50px
) {

  ::-webkit-scrollbar {
    width: $width;
    height: $height;
  }

  ::-webkit-scrollbar-thumb {
    background-color: $scrollScrollbarThumb;
    border-radius: $radius;
    cursor: pointer;
  }

  ::-webkit-scrollbar-track {
    background-color: $scrollScrollbarTrack;
    border-radius: $radius;
    cursor: pointer;
  }
}

@mixin googleFont($family) {
  @import url("https://fonts.googleapis.com/css2?family=#{$family}&display=swap");
}