$radius: 5px;
$shadowColor: rgba(193, 193, 193, 0.5);
$cardShadow: rgba(0,0,0,.03);
$bgBase: #6ac8b5;
$bgBase08: rgba(106, 200, 181, .8);
$bgBaseDark: #519c8d;
$txtBgBase: white;
$contentBg: #f7f6fb;
$contentBgHover: #e8e8ea;
$contentColor: #727171;
$contentColorLight: #a8a6a6;
$borderFieldColor: #dddddd;
$borderCard: #dedede;
$borderColor: #c4c4c4;


$_danger: #e03b3b;
$dangerText: #994f4f;
$dangerAlertColor: #842029;
$dangerAlertBg: #eecfcf;
$dangerDark: #bb3131;
$dangerBorder: #994f4f;

$_success: $bgBase;
$successText: #32864e;
$successAlertBg: #cfeeda;
$successBorder: #32864e;
$successDark: #519a8b;
$successColor : #6ac8b5;
$successColorText : #105f4e;

$scrollScrollbarThumbBg: #6ac8b5;
$scrollScrollbarTrackBg: #cfeeda;

$selectionBg: #6ac8b5;
$selectionColor: white;

$btnSubmitBg: #6ac8b5;
$btnSubmitText: white;

$bgEmpty: #efefef;


$checkedLabelBg : #6ac8b5;
$checkedDrawBg : #57a293;

$cardBorderColor: #e2e2e2;

$_info: #3e7def;
$infoText: #3266c7;
$infoAlertBg: #cddbf5;
$infoDark: #2e5eb6;

$_warning: #eca123;
$warningText: #bb7f1b;
$warningAlertBg: #f1dfc3;
$warningDark: #c9891d;

